Source: btanks
Section: games
Priority: extra
Maintainer: Vladimir Menshakov <megath@users.sourceforge.net>
Build-Depends: libsdl1.2-dev , libsdl-ttf2.0-dev, libsdl-image1.2-dev, libsigc++-2.0-dev, libexpat1-dev, zlib1g-dev, libvorbis-dev, libopenal-dev, libalut-dev
Standards-Version: 3.7.2

Package: btanks
Architecture: any
Depends: ${shlibs:Depends}
Description: Fast 2d arcade with smooth graphics and network/split screen multiplayer modes.
 Battle tanks is 2d arcade game supporting network multiplayer, split screen modes. 
 Game features 3d sound and gamepad support. 
 .
 Homepage: http://btanks.sourceforge.net
